# Dependencies
node_modules

# Build output
.next
out
dist
build

# Static files
public

# Lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Coverage reports
coverage

# Vercel/Netlify deployment artifacts
.vercel
.netlify

# Misc
*.log
.DS_Store